{% include 'includes/header.html.twig' %}

<h1>Editing: {{ checker.name }}</h1>

<form method="post" action="/dashboard/checker/save">
	<input type="hidden" name="id" value="{{ checker.id }}" />
	<p>Name:
	<input type="text" name="name" value="{{ checker.name }}" />
	</p>
	<p>Url: 
	<input type="text" name="url" value="{{ checker.url }}" />
	</p>
	<p>Text to check for:
	<input type="text" name="text" value="{{ checker.text }}" />
	</p>
	<p>Invert match (get emailed when the text disappears) 
	<input {% if checker.invert %}checked="checked" {% endif %} type="checkbox" name="invert" />
	</p>
	<p>Active?
	<input {% if checker.is_active %}checked="checked"{% endif %} type="checkbox" name="is_active" />
	</p>
	<p>
	<button type="submit" class="btn btn-success">Save</button>
	<a class="btn btn-danger" href="/dashboard/checker/delete/{{ checker.id }}">Delete</a>
	<a class="btn" href="/dashboard">Cancel</a>
	</p>
</form>

{% include 'includes/footer.html.twig' %}

